/* Reseta as margens e preenchimentos padrões do navegador para garantir consistência entre diferentes navegadores */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; /* Define a fonte padrão para o documento */
}

/* Espaçamento geral da aplicação para evitar que os elementos toquem as bordas da tela */
.app {
    margin: 20px;
}

/* Estiliza os campos de texto */
input[type="text"] {
    padding: 10px; /* Adiciona preenchimento interno para melhorar a legibilidade */
    width: 300px; /* Define uma largura fixa para o campo */
    margin-right: 5px; /* Espaço à direita para separar do próximo elemento */
}

/* Estilos para botões */
button {
    padding: 10px 20px; /* Preenchimento interno para tornar o clique mais fácil */
    cursor: pointer; /* Muda o cursor para indicar que o elemento é clicável */
    margin-left: 10px; /* Espaço à esquerda para não tocar no elemento anterior */
    color: #fff; /* Cor do texto do botão */
    background-color: #f44336; /* Cor de fundo do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 5px; /* Arredonda as bordas do botão */
}

/* Estilo para o estado hover do botão */
button:hover {
    background-color: #d32f2f; /* Escurece a cor de fundo do botão quando o mouse está sobre ele */
}

/* Estiliza a lista não ordenada */
ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o preenchimento padrão */
}

/* Estiliza os itens da lista */
li {
    margin-top: 10px; /* Espaço acima de cada item da lista */
    background-color: #f0f0f0; /* Cor de fundo para cada item */
    padding: 10px; /* Preenchimento interno para separar o texto das bordas */
    display: flex; /* Usa Flexbox para alinhar elementos dentro do item */
    align-items: center; /* Centraliza os elementos verticalmente */
    justify-content: space-between; /* Distribui os elementos igualmente, com espaço entre eles */
}

/* Adiciona responsividade para telas menores, como celulares */
@media (max-width: 520px) {

    input[type="text"]{
        transform: translateX(7%);
    }
    #busca{
        margin-top: 15px;
        transform: translateX(80%);
    }

}
